/*
 * Redefine HTML basic markup
 */
h1{
    font-size: 40px;
}


/*
 * Define the ID's
 */
#header{
    padding: 10px;
    height: 148px;
}

#header h1 {
    background: url("img/app-icon.png") no-repeat;
    padding: 45px 0 45px 140px;
}

#navbar ul {
    border-top:solid 1px #BFBFBF;
    border-bottom:solid 1px #BFBFBF;
    padding: 5px;
}

#navbar li {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #BFBFBF ;
}

#navbar a {
    text-decoration: none;
    color: #A65353;

}

#main {
     min-height: 350px;    
}

#footer {
    border-top: solid 1px #BFBFBF;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #A65353;
}

/*
 * Define the classes
 */
.slogan {
    font-size: 20px;
}

