/*
 * Redefine HTML basic markup
 */
h1{
    font-size: 40px;
}


/*
 * Define the ID's
 */
#header{
    padding: 10px;
    height: 148px;
}

#header h1 {
    background: url("img/app-icon.png") no-repeat;
    padding: 45px 0 45px 140px;
}

/*
 * Define the classes
 */
.slogan {
    font-size: 20px;
}

