/*
 * Redefine HTML basic markup
 */
h1{
    font-size: 25px;
    padding-bottom: 20px;
}

h2{
    font-size: 20px;
    padding-bottom: 15px;
}

p{
    padding-left: 20px;
    padding-bottom: 10px;
}

a {
    color: #A65353;
    text-decoration: none;
}

th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

input {
    -moz-border-radius:2px;
    border: solid 1px #A65353;
}

input[type=submit] {
    background-color: #A65353;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=submit]:hover {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

/*
 * Define the ID's
 */
#header{
    padding: 10px;
    height: 148px;
}

#header h1 {
    font-size: 40px;
    background: url("img/app-icon.png") no-repeat;
    padding: 45px 0 0px 140px;
    height: 148px;
}

#user-info {
    position:absolute;
    right:20px;
    top: 70px;
}

#navbar ul {
    border-top:solid 1px #BFBFBF;
    border-bottom:solid 1px #BFBFBF;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navbar li {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #BFBFBF ;
}

#main {
    min-height: 350px;
    margin-left: 10px;
    margin-right:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer {
    border-top: solid 1px #BFBFBF;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #A65353;
}

#object {
    margin-left: 50px;
}

#object td {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}    

/*
 * Define the classes
 */
.slogan {
    font-size: 20px;
}

a.login-link {
    background: url("img/login-icon.png") no-repeat 5px 0.4em  ;
    border-bottom: solid 1px #A65353;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
}

table.form{

}

td.form-label {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

td.form-value {

}

table.view{
    margin-left: 50px;
}

td.view-label {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

td.view-value {

}

td.form-submit {
    text-align: right;
    padding-top: 10px;
}

tr.odd {
    color: #A65353;
    background-color: #BFBFBF;
}

tr.even {
    background-color: #A65353;
    color: #BFBFBF;
}

th.sortable {
    padding: 10px;
    background: url(img/ascent.png) no-repeat 2px 2px;
}


th.order1 {
    padding: 10px;
    background: url(img/ascent.png) no-repeat 95px 7px;
}
th.order2 {
    padding: 10px;
    background: url(img/descent-icon.png) no-repeat 95px 7px;
}


.border-top {
    margin: 30px;
    padding-top: 15px;
    padding-left: 50px;
    border-top: solid 1px #BFBFBF;
}

ul.arrow {
    padding-left: 50px;
}

li.arrow{
    padding-top: 5px;
    padding-bottom: 5px;
}

li.arrow::before {
    content: ">> ";
    color: #A65353
}

div.messages {
    display: block;
    border-bottom: 1px solid #004B9E;
    border-right: 1px solid #004B9E;
    border-left: 1px solid #004B9E;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    margin-bottom: 8px;
    background: url('img/info-icon.png') no-repeat 10px 2px #B4D3F6;
    margin-left: 30%;
    margin-right: 30%;
}
div.messages p {

    padding-top: 5px;
    color: #004B9E;
    text-align: center;
}

span.error{
    background: url('img/error-icon.png') no-repeat 5px 1px;
    font-style: italic;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 25px;
    color: #880000 ;
}

input.error {
    border: 2px solid #880000 ;
    background-color: #FFDDDD;
}

.actions ul{
    display: inline-block;
    position: relative;
    float: right;
    top: -20px;
    border-bottom: solid 1px #A65353;
    border-left: solid 1px #A65353;
    border-right: solid 1px #A65353;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    background-color: #BFBFBF;
    padding: 3px;
}
.actions li {
    padding-left: 7px;
    padding-right: 7px;
    display: inline;
}